<div class="container-fluid">
    <h1>Enrollment Form</h1>
    <form #userForm="ngForm" (ngSubmit)="onSubmit()" novalidate>
        {{userForm.value | json}}
        <div class="form-group">
            <label>Name</label>
            <input type="text" required #name="ngModel" class="form-control" name="userName" 
            [(ngModel)]="userModel.name" [class.is-invalid]="name.invalid && name.touched" />
                <small class="text-danger" [class.d-none]="name.valid || name.untouched" >Name is required

                </small>
        </div>
        <div class="form-group">
            <label>Salary</label>
            <input type="salary" class="form-control" name="salary" [(ngModel)]="userModel.salary"/>
        </div>
      
      
       <div class="form-group">
        <label>Department</label>
         <select class="custom-select form-control " name="department" [(ngModel)]="userModel.department"
          #topic="ngModel">
             <option selected>I am interested in</option>
             <option *ngFor="let department of departments">{{department}}</option>
         </select>
        
         
       </div>
     
     
     
    <div class="form-group">
      <label>Skill_name</label>
         <select class="custom-select form-control " name="skill_name" [(ngModel)]="userModel.skill_name"
          #topic="ngModel">
             <option selected>I am interested in</option>
             <option *ngFor="let skill_name of skill_names">{{skill_name}}</option>
         </select>
     
     </div>
          
       <div class="form-group">
         <label for="skill_id"> skill_id </label>
         <input type="text" class="form-control" id="skill_id" >
         </div>
     
         <div class="form-check mb-3">
           <input class="form-check-input" type="checkbox" name="subscribe" [(ngModel)]="userModel.subscribe" >
           <label class="form-check-label">
               permanent employee
           </label>
       </div>
        
           <button class="btn btn-primary" [disabled] ="userForm.form.invalid  || topicHasError" type="submit">
             Submit Form</button>
     
           
         
     
           </form>
         </div>
      
     
     
     
     
     