<!--<h3>Angular-learning Application using Interpolation</h3>

<app-favouritemovie></app-favouritemovie>

<h3>.......Employee Details........</h3>

<app-employeedetails></app-employeedetails>-->

<!--<h1>
    Employee Page
  </h1>
  
  <div>
    <a routerLink="/viewEmployee" routerLinkActive="active"> View Employee</a>
    <br/>
    <br/>
      <a routerLink="/editEmployee" routerLinkActive="active"> Edit Employee</a>
      <br/>
      <br/>
    <a routerLink="/quantityIncrement" routerLinkActive="active"> Quantity Increment</a>
       
  </div>

  <app-employee></app-employee>-->
  
<router-outlet></router-outlet>
