<h4>
    id    :{{id}}<br/><br/>
    Name  :{{name}}<br/><br/>
    salary:{{salary}}<br/><br/>
    Department id : {{department}}<br/><br/>
    Department Name:{{dept_name}}
    <div>
        <h3>skill Details</h3>
    </div>
   <div>
        <div *ngFor="let empl of emp.skill">
              {{empl.skill_id}} - {{empl.skill_name}}
        </div>
    </div>
    

 </h4>
     
     